<a href="https://colab.research.google.com/github/bharathdev329/ICT-DSA/blob/main/python_practice2ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1

In [2]:
string = input("Enter a string: ")
char_count = {}
for char in string:
  if char in char_count:
    char_count[char] += 1
  else:
    char_count[char] = 1
print("Count of each character in the string:")
for char, count in char_count.items():
  print(char, ":", count)

Enter a string: abc
Count of each character in the string:
a : 1
b : 1
c : 1

Q2

In [3]:
def find_maximum(a, b, c):
  return max(a, b, c)

# Example usage:
num1 = 34
num2 = 12
num3 = 7
maximum = find_maximum(num1, num2, num3)
print("The maximum number is:", maximum)

The maximum number is: 34

Q3

In [4]:
def exponent(base, exp):
  return base ** exp

base_number = 2
exponent_value = 3
result = exponent(base_number, exponent_value)
print(base_number, "raised to the power of", exponent_value, "is:", result)

2 raised to the power of 3 is: 8

Q4

In [5]:
def sum_of_cubes(n):
  sum = 0
  for i in range(1, n):
    sum += i ** 3
  return sum

number = 4
result = sum_of_cubes(number)
print("Sum of cubes of numbers smaller than", number, "is:", result)

Sum of cubes of numbers smaller than 4 is: 36

Q5

In [6]:
for i in range(1, 11):
  if i % 2 == 0 and i % 5 == 0:
    print("FizzBuzz")
  elif i % 2 == 0:
    print("Fizz")
  elif i % 5 == 0:
    print("Buzz")
  else:
    print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

Q6

In [7]:
from collections import Counter

def most_frequent(numbers):
  count = Counter(numbers)
  return count.most_common(1)[0][0]

numbers = [1, 2, 3, 2, 4, 2, 5, 1, 2]
most_frequent_number = most_frequent(numbers)
print("The most frequent number is:", most_frequent_number)

The most frequent number is: 2

Q7

In [9]:
def sum_of_squares(numbers):
  sum = 0
  for number in numbers:
    sum += number ** 2
  return sum

numbers = [2,1,3,1]
result = sum_of_squares(numbers)
print("The sum of squares is:", result)

The sum of squares is: 15

Q8

In [10]:
for i in range(1, 16):
  if i % 2 == 0:
    print(i, "is even")
  else:
    print(i, "is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd

Q9

In [12]:
def celsius_to_fahrenheit(celsius):
  fahrenheit = (celsius * 9/5) + 32
  return fahrenheit

def fahrenheit_to_celsius(fahrenheit):
  celsius = (fahrenheit - 32) * 5/9
  return celsius

celsius = 5
fahrenheit = celsius_to_fahrenheit(celsius)
print("Temperature in Fahrenheit:", fahrenheit)

fahrenheit = 41
celsius = fahrenheit_to_celsius(fahrenheit)
print("Temperature in celsius",celsius)

Temperature in Fahrenheit: 41.0
Temperature in celsius 5.0

Q10

In [13]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n - 1)

number = 3
result = factorial(number)
print("The factorial of", number, "is:", result)

The factorial of 3 is: 6