<a href="https://colab.research.google.com/github/bharathdev329/ICT-DSA/blob/main/Python_practice_problems_case_studyipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1

In [ ]:
r=int(input('enter radius: '))
pi=3.14
area=pi*r*r
print('area of circle is: ',area)

enter radius: 5
area of circle is:  78.5

Q2

In [ ]:
name=input('enter name: ')
roll_no=int(input('enter roll no: '))
mark=int(input('enter mark: '))
print('name: ',name)
print('roll no: ',roll_no)
print('mark: ',mark)

enter name: John
enter roll no: 12
enter mark: 33
name:  John
roll no:  12
mark:  33

Q3

In [ ]:
def largest_number(numbers):
    if not numbers:
        return None
    largest = numbers[0]
    for number in numbers:
        if number > largest:
            largest = number
    return largest

numbers = [12, 3, 47, 10]
print(largest_number(numbers),"is the largest number")

47 is the largest number

Q4

In [ ]:
number = range(10)
previous_number = 0
for i in number:
    sum = previous_number + i
    print("Current Number",i,"Previous Number",previous_number,"Sum:",sum)
    previous_number = i

Current Number 0 Previous Number 0 Sum: 0
Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17

Q5

In [ ]:
f=10,44,66,55,50,77,8
for i in f:
  if i%5==0:
    print(i)

10
55
50

Q6

In [ ]:
num = int(input("Enter a number: "))
if num > 1:
    for i in range(2, (num//2)+1):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter a number: 10
10 is not a prime number

Q7

In [ ]:
num = [10,40,30,70 ]
reverse_num = []
for i in num:
    reverse_num.insert(0,i)
print(reverse_num)

[70, 30, 40, 10]

Q8

In [ ]:
n = 4
for i in range(1, n + 1):
    print('*' * i)

*
**
***
****

In [ ]:
num = [34,12,7]
max_num = num[0]
for i in num:
    if i > max_num:
        max_num = i
print(max_num)

34

Q10

In [ ]:
s=5
for i in range(1,n+1):
  print('*'*i)
for i in range (n-1,0,-1):
  print('*'*i)

*
**
***
****
***
**
*